
body{
background-color: #e9e9e9;
font-family: Lato, sans-serif;
}

main {
    position: relative;
 
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// formato para contenido de paginas que se genera por v-html //
.format-content {
    padding: 20px;
    text-align: justify;  
    line-height: 1.5;  
    h3 { 
        font-weight: bold;
        font-size: 22px; 
    }
    ul { 
        margin-left: 30px;
        list-style: disc; 
        margin-bottom:10px;
    }
    li {  
        line-height: 2;
        font-size: 14px;
    } 
    p {
        line-height: 1.5;
        margin-bottom: 10px;  
        font-size: 14px; 
        justify-content: space-around;
        text-align: justify;
    }
} 
// v-html especifico //
 

input,
textarea,
select {
    all: revert;
}

.Carro {
    margin-top:10px;
    max-width: 100%;
    height: 300px;
    border: gray 1px solid;
    display: flex; 
    background-color: white;


    h2 {
    font-size: 1.5rem;
    margin: 0;
    }

    h3{
    margin-top: 0;
    font-size: 1rem;
    }

    section {
    width: 100%;
    font-size: 1rem;
    }

    dl {
    display: flex;
    width: 300px;
    
    flex-wrap: wrap; 
    font-weight: bold;
    
    text-align: center;
    }

    dd {
    margin-left: 4px;
    margin-right: 20px;
    margin-bottom: 5px;
    
    }
    
    section img{
    max-width: 25px;
    }
    

    a  {
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    font-size: 1.1rem;
    line-height: 1.25;
    font-weight: 700;
    border: 1px solid #450a57;
    border-radius: 10px;
    background-color: #E1AA3E;
    color:rgb(252, 252, 252);
    text-transform: uppercase;
    margin-top: 20px;
    } 

    figure {
    width: 100%;
    height: 100%; 
    }
    figure img {
    padding: 15px;
    }
    footer {
    background-color: #834296;
    display: flex;
    flex-direction: column; 
    width: 50%;
    
    dl {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    }
}

.specs img{
    max-width: 20px;
    max-height: 20px;
}

.precio {
    font-size:1.3rem;
    line-height: 1.37143;
    font-weight: 700;
    color:white;
    width: auto;
    margin-top:50px;

} 



.flota-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%; 
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left:-10px;
    ol{
    display:flex;
    justify-content: space-between; 
    }
    
    h2 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: bold;
        margin-left:10px;
    }
    p{
        max-width: 400px;
        padding: 10px;
    }
    figure {
    flex:1; 
    text-align: center; 
    }
    section{ 
    flex:1;
    text-align: justify;
    }
}
    
.carro-flota {  
    place-items: center;
    padding: 5px;  
    background-color:white;
    box-shadow: 5px 5px 5px rgba(65, 65, 65, 0.308); 
    
    margin-right: 10px;
    height:350px; 
    border: gray 1px solid;
    
    display:grid;
    grid-template-columns: 140px 140px;
    // grid-template-rows: 20px 1fr ;
    grid-template-areas: 
    "figure figure"
    "titles titles"
    "info info"
    "botones botones"; 
    .card-title{
    grid-area: titles;
    }
    footer {
    grid-area:botones;
    }
    h2 {
    font-size: 1.3rem;
    margin: 0; 
    }
    i {
    font-style: italic;
    font-size: 1rem;
    }
    h3{
    margin-top: 0;
    font-size: 1rem;
    } 
    // section {
    //   margin: 5px;
    //   width: 100%;
    //   font-size: 12px;
    //   justify-content: space-around;
    
    // }

    dl {
    display: flex; 
    font-weight: bold;
    margin-top: 10px;
    text-align: center; 
    
        grid-area:info; 
    
    }

    section img{
    max-width: 15px;
    }
    
    .info {
    background-color: #834296;
    }
    .reservar {
    background-color: #E1AA3E;
    }
    a  { 
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 700;
    border: 1px solid #450a57;
    border-radius: 10px;
    color:rgb(252, 252, 252);
    text-transform: uppercase;
    } 

    figure {
    width: 100%;
    height: 100%;
    grid-area:figure;
    }
    figure img {
    padding: 15px;
    }
    footer {
    display: flex; 
    width: 100%;
    justify-content: space-around;
    padding-bottom: 5px;
    }


} 

.specs {  
    width: 100%; 
    justify-content: space-between; 
    align-items: end;  
    grid-area:info;
    dd {
    margin:5px; 
    font-size: 10px;
    }
    
}

.detalles-content { 
    max-width: 1100px;
    // height: 300px;
    border: gray 1px solid;
    display: flex; 
    background-color: white;
    padding: 10px; 
    box-shadow: 5px 5px 5px rgba(65, 65, 65, 0.308);
    grid-area: content; 
    margin-top: 20px;
    margin-bottom: 50px;

    
    
    h2 {
        font-size: 24px;
        margin-bottom: 20px; 
        font-weight: bold;
        margin-left:10px;
    }
    p{
        max-width: 100%; 
        text-align: justify;
        padding: 10px;
    }
    figure {
    min-height: 280px; 
    }
    i{
    font-style: italic;
    font-size: 1.5rem;
    color: #4a4a4a;
    }
    section{  
    padding: 5px; 
    }


    h2 {
    font-size: 2.5rem;
    margin: 0;
    }

    h3{
    margin-top: 0;
    font-size: 1.5rem;
    }

    section {
    width: 100%;
    font-size: 1rem;
    }

    dl {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    }

    dd {
    margin-left: 4px;
    margin-right: 20px;
    margin-bottom: 5px;
    
    }
    
    section img{
    max-width: 25px;
    }
    

    a  { 
    padding: 10px 20px;
    width: 140px;
    font-size: 1.1rem;
    line-height: 1.25;
    font-weight: 700;
    border: 1px solid #450a57;
    border-radius: 10px;
    background-color: #E1AA3E;
    color:rgb(252, 252, 252);
    text-transform: uppercase;
    margin-top: 10px;
    } 

    figure {
    width: 100%;
    height:100%; 
    }
    figure img {
    padding: 15px;
    }
    footer { 
    display: flex;
    flex-direction: column; 
    width: 50%;
    
    }
}






/** arrows vue slider **/

.splide__arrow--next {
    right: 1em;
}
.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1;
}



.flecha-arrows {
    background-color: #E1AA3E;
}

.flecha-next {
    right: 1em;
}

.flecha-prev{
    left: 1em; 
}

.flecha-arrow { 
    -ms-flex-align: bottom;
    align-items: bottom;  
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: bottom;
    justify-content: bottom;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1;
} 